# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/workspace.xml
.idea/vcs.xml
.idea/vcs.xml
target/classes/config.yml
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
.idea/vcs.xml
target/classes/config.yml
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
.idea/vcs.xml
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/classes/config.yml
target/classes/config.yml
.idea/vcs.xml
.idea/vcs.xml
target/classes/config.yml
target/classes/config.yml
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/classes/config.yml
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/.name
.idea/artifacts/PvPInvite_jar.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_0.xml
.idea/libraries/Maven__com_google_guava_guava_21_0.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__net_md_5_bungeecord_chat_1_13_SNAPSHOT.xml
.idea/libraries/Maven__org_spigotmc_spigot_api_1_14_2_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_23.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
PvPInvite.iml
target/classes/config.yml
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
.idea/misc.xml
.idea/modules.xml
src/main/main.iml
.idea/workspace.xml
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/classes/plugin.yml
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
*.xml
src/main/main.iml
.idea/misc.xml
.idea/workspace.xml
